
services:

  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/dockerfile-stage
    command: gunicorn core.wsgi --bind 0.0.0.0:8000 --timeout 300

    volumes:
      - ./core:/app
      - static_volume:/app/static
      - media_volume:/app/media
    environment:
      - ALLOWED_HOSTS=127.0.0.1,manmarket.ir,www.manmarket.ir
      - DEBUG=False
    expose:
      - "8000"


  worker:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/dockerfile-stage
    command: celery -A core worker -l info --pool=prefork
    volumes:
      - ./core:/app
    depends_on:
      - redis
      - backend
  worker-beat:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/dockerfile-stage
    command: celery -A core beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./core:/app
    depends_on:
      - redis
      - backend
      - worker

  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      - static_volume:/home/app/static
      - media_volume:/home/app/media

  certbot:
    image: certbot/certbot
    container_name: certbot
    depends_on:
      - nginx
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew --webroot -w /var/www/certbot --quiet --deploy-hook \"nginx -s reload\"; done'"

  # certbot_init:
  #   image: certbot/certbot
  #   container_name: certbot_init
  #   depends_on:
  #     - nginx
  #   volumes:
  #     - certbot_conf:/etc/letsencrypt
  #     - certbot_www:/var/www/certbot
  #   command: certonly --webroot -w /var/www/certbot --force-renewal --email programmer.amirrezaattary@gmail.com -d manmarket.ir -d www.manmarket.ir --agree-tos --no-eff-email

volumes:
  static_volume:
  media_volume:
  postgres_data:
  certbot_conf:
  certbot_www: