version: "3.9"

services:
  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning


  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/Dockerfile
    volumes: 
      - ./core:/usr/src/app
    working_dir: /usr/src/app
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    environment:
      - DEBUG=True
    env_file:
      - ./envs/dev/django/.env
    restart: always
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/Dockerfile
    command: celery -A core worker -l info --pool=solo
    volumes:
      - ./core:/usr/src/app
    depends_on:
      - redis
      - backend
  worker-beat:
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/Dockerfile
    command: celery -A core beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./core:/usr/src/app
    depends_on:
      - redis
      - backend
      - worker
